<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Login Admin</title>
  </head>
  <body  style="background: linear-gradient(to right, #6a11cb, #2575fc); height: 100vh;">
    <main>
      <div
        class="container d-flex justify-content-center align-items-center"
        style="height: 100vh;"
      >
        <div class="card shadow-sm" style="width: 100%; max-width: 400px;">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Admin Login</h3>
            <form
              id="loginForm"
              method="POST"
              enctype="application/x-www-form-urlencoded"
              action="/admin/login"
            >
              <div class="form-group">
                <label for="username">Admin</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Digite oAdmin"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Senha</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Digite sua senha"
                  required
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary btn-block"
              >Entrar</button>

              {{#if messege}}
                <div
                  class="alert alert-danger mt-3 p-1 text-center"
                  role="alert"
                >{{messege}}
                </div>
              {{/if}}
            </form>
          </div>
        </div>
      </div>

    </main>

  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  {{! <script src="/login.js"></script> }}
</html>